.main-wrapper {
    width: 97rem;
    margin: 0 auto;
}

.decoration-line {
    margin-top: -15rem;
}

@mixin basic-btn {
    text-transform: uppercase;
    width: 19rem;
    height: 7.5rem;
    background-color: #ffffff;
    font-size: 2rem;
    margin: 1rem;
    border: 0.05rem solid $color-4;
    color: $color-5;
    cursor: pointer;
    &:hover {
        background-color: $color-1;
    }
}

.basic-btn {
    @include basic-btn;
}

.gold-border {
    border: 0.05rem solid $color-3;
    padding: 0.5rem;
}

.dark-border {
    border: 0.05rem solid $color-4;
    padding: 0.5rem 1rem;
}

.container-nav-form {
    display: flex;
    flex-direction: column;
}

.wrong-info {
    color: #dd2727;
    font-weight: 700;
    font-size: 0.8rema;
    margin-top: 0.35rem;
}

.success-info {
    color: #2aa130;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 2rem;
    margin-right: 12rem;

}