.home-about-us {
    display: flex;
    justify-content: space-between;
    height: 58rem;
    background-color: $color-1;
    margin-bottom: 5rem;
}

.home-about-us__background {
    background-image: url("../images/People.jpg");
    width: 58rem;
}

.home-about-us__content {
    width: 58rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-about-us__content__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.home-about-us__content__img {
    margin-bottom: 2rem;
}

.home-about-us__content__text {
    padding: 0 10rem;
    line-height: 3rem;
    font-size: 1.5rem;
}