.home-three-columns {
    height: 24rem;
    background-image: url("../images/3\ Columns\ Background.png");
    display: flex;
    margin-bottom: 3rem;
}

.home-three-columns__one-column {
    text-align: center;
    color: $color-5;
    margin: 2rem 5rem;
}

.home-three-columns__one-column__primary-title {
    margin: 2rem 1rem;
    font-size: 3rem;
}

.home-three-columns__one-column__secondary-title {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.home-three-columns__one-column__text {
    line-height: 2rem;
}